* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

/*----Activity Style----*/
.activities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.activity-card {
    background: #a1f0b5;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #000000;
}

/*----Error Message Styles----*/
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}