.navbar {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar-content {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.2s;
}

.navbar button:hover {
    background-color: #d68958;
    transform: scale(1.05);
}

.logo-link {
    margin: 0 !important;
}

.logo-link h1 {
    margin: 0;
    color: #333;
}

.auth-buttons button a {
    color: white;
    margin: 0;
}

.nav-links {
    display: flex;
    align-items: left;
}

.auth-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    background-color: #e79a6e;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}